@import "tailwindcss";

/* 1. Import Google Fonts */
@theme {
  /* Tes couleurs */
  --color-slate-bg: #0f172a;
  --color-card-bg: #1e293b;
  --color-accent-gold: #f59e0b;

  --font-logo: "Leckerli One", cursive;
}